<h3>Organigramme</h3>
<!-- <div class="ui-g-12 ui-md-12">
  <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custombar2"> -->
    <p-organizationChart [value]="data" expanded="true" styleClass="company" class="a">
      <ng-template let-node pTemplate="sheet" styleClass="stchild">
        {{node.label}}
        <div class="toolbtn">
          <app-dialog-modal [inode]="node" (okClicked)="newSite($event)"></app-dialog-modal>
          <button type="button" icon="fa-minus-square" pButton (click)="deleteSite(node)"></button>
        </div>
      </ng-template>
      <ng-template let-node pTemplate="branch" styleClass="stparent">
        <div class="node-header ui-corner-top">{{node.label}}</div>
        <button type="button" (click)="expandChilds(node)"></button>
        <div class="toolbtn">
          <app-dialog-modal [inode]="node" (okClicked)="newSite($event)"></app-dialog-modal>
          <button type="button" icon="fa-minus-square" pButton (click)="deleteSite(node)"></button>
        </div>
      </ng-template>
    </p-organizationChart>
  <!-- </p-scrollPanel>
</div> -->