<!-- <div *ngIf="itemCount != 0"> -->
<div *ngIf="inputMode; then showInput else noshowInput"></div>

<ng-template #showInput>
  <div class="card border-primary mb-3" style="border-width: 7px!important;" >
    <div class="card-header">
      <button type="button" class="btn btn-info" (click)="declareVehicule()">Valider la selection</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Proposition déclarations vehicules</h5>
      <p-table [value]="vwschemavehiculedisputtings" [columns]="cols"
        [(selection)]="selectedvwschemavehiculedisputtings">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th colspan="3">Vehicule A</th>
            <th class="celcolor"></th>
            <th colspan="3">Vehicule B</th>
          </tr>

          <tr>
            <th></th>
            <th *ngFor="let col of columns" [style.width]="col.width" [ngClass]="col.field === ''? 'celcolor' : ''">{{ col.header }}</th>
            <!-- <th>Marque</th>
                <th>type</th>
                <th>Matricule</th>
                <th>Marque</th>
                <th>type</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns let-itemvs>
          <tr [pSelectableRow]="rowData">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <!-- <td *ngFor="let col of columns">{{ rowData[col.field] }}</td> -->
            <td>{{itemvs.matriculea}}</td>
            <td>{{itemvs.marka}}</td>
            <td>{{itemvs.namea}}</td>
            <td class="celcolor"></td>
            <td>{{itemvs.matriculeb}}</td>
            <td>{{itemvs.markb}}</td>
            <td>{{itemvs.nameb}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-template>
<ng-template #noshowInput>
  <div class="card border-success mb-3" style="border-width: 7px;" >
    <div class="card-header">
      <button type="button" class="btn btn-info" (click)="initDeclaration()">Déclaration</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Vehicule déclarées</h5>
      <p-table [value]="vwvehiculedisputtings" [columns]="cols">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th colspan="3">Vehicule A</th>
            <th class="celcolor"></th>
            <th colspan="3">Vehicule B</th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [style.width]="col.width" [ngClass]="col.field === ''? 'celcolor' : ''">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns let-rowData>
          <tr>
            <td>{{item.matriculea}}</td>
            <td>{{item.marka}}</td>
            <td>{{item.namea}}</td>
            <td class="celcolor"></td>
            <td>{{item.matriculeb}}</td>
            <td>{{item.markb}}</td>
            <td>{{item.nameb}}</td>
            <td>
              <button class="btn btn-danger" (click)="delete(item)">
                <i class="fa fa-minus"></i>
                </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-template>
<!-- </div> -->

<!-- <div class="card bg-light mb-3" *ngIf="!inputMode">
    
</div> -->