
<div class="card bg-light">
  <div class="card-header alCenter cardtitle">

    <h4 class="titleform">
      <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
    </h4>

    <button class="btn btn-success btnright" (click)="showNewDialoge()">
      <i class="fa fa-plus"></i>
    </button>

  </div>


  <p-dataTable [value]="actions" expandableRows="true" selectionMode="single" immuable="true"
    [(selection)]="selectedNode" (onNodeExpand)="nodeExpand($event)" rowExpandMode="single" [responsive]="true"
    sortField="kind" rowGroupMode="subheader" groupField="kind">
    <ng-template pTemplate="rowgroupheader" let-rowData>
      <h4 class="colgroup decal4">{{ getNameOfKind(rowData.kind) }}</h4>
    </ng-template>
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'70px'}"></p-column>
    <p-column field="name" header="Name"></p-column>
    <!-- <p-column field="kind" header="nature"></p-column> -->
    <!--     <p-column field="datecreate" header="Crée le">
        <ng-template let-col let-m="rowData" pTemplate="body">
          {{m[col.field] | date:'shortDate'}}
        </ng-template>
      </p-column>
      <p-column field="owner" header="par"></p-column>
      <p-column field="dateupdate" header="Modifier le">
        <ng-template let-col let-m="rowData" pTemplate="body">
          {{m[col.field] | date:'shortDate'}}
        </ng-template>
      </p-column>
      <p-column field="lastuser" header="par"></p-column> -->
    <p-column styleClass="col-button" [style]="{'width':'70px'}">
      <ng-template let-m="rowData" pTemplate="body">
        <button class="btn btn-danger" (click)="deleteAction(m)"  *ngIf="m.kind === 'M'">
          <i class="fa fa-minus"></i>
        </button>
      </ng-template>
    </p-column>
    <ng-template let-item pTemplate="rowexpansion">
      <div class="container">
        <div class="form-group row">
          <label for="chname" class="col-sm-2 col-form-label">name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="chname" [value]="item.name" placeholder="l'action" #name>
          </div>
        </div>
        <div class="clupdate" *ngIf="item.kind === 'M'">
          <button class="btn btn-success" (click)="updateAction(item, name)">
            <i class="fa fa-check">Valider</i>
          </button>
          <button class="btn btn-warning" (click)="cancelUpdate(item)">
            <i class="fa fa-times">Annuler</i>
          </button>
        </div>
      </div>
    </ng-template>
  </p-dataTable>
</div>

<p-dialog header="Nouvelle action 123" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true"
  width="450">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="newAction">
      <div class="container">
        <div class="form-group row">
          <label  for="iname" class="col-sm-1 col-form-label">name</label>
          <div class="col-sm-11">
            <input type="text" id="iname" class="form-control" [(ngModel)]="newAction.name" placeholder="l'action">
          </div>
        </div>
      <div class="toolbtn">
        <button class="btn btn-primary" (click)="createAction()">Valider</button>
        <button class="btn btn-warning" (click)="hideNewDialoge()">Annuler</button>
      </div>
    </div>
  </div>