#chid {
    width: 100px;
}

#chname {
    width: 300px;
}

.ui-grid {
    background-color: lightgray;
    /* padding-top: 20p */
}

.ui-grid-row {
    margin-left: 100px;
}

.alCenter {
   align-self: center;
   display: inline-block;
   width: 300px;
}

.clupdate {
   /* position: relative; */
   /* display: block;
   position: relative;
   right: 100px; */
   /* float: right; */
   position: relative;
   /* align-self: flex-end!important; 
   background-color: blue; */
   width: 250px;
   left: 350px;
}

.container {
    padding: 40px 0 20px 60px;
    background-color: lightgray;
    border-radius: 10px;
}

.toolbtn {
    float: right;
}