<div class="card-header alCenter cardtitle">

    <h4 class="titleform">
        <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
    </h4>

    <button class="btn btn-success btnright" (click)="showNewDialoge()">
        <i class="fa fa-plus"></i>
    </button>

</div>
<p-dataTable class="header-table" [value]="accidentvehicules" sortField="classification" rowGroupMode="subheader"
    groupField="classification" expandableRows="true" selectionMode="single" [(selection)]="selectedNode"
    (onNodeExpand)="nodeExpand($event)" rowExpandMode="single">
    <ng-template pTemplate="rowgroupheader" let-rowData>
        <h4 class="colgroup">{{getClassification(rowData['classification'])}}</h4>
    </ng-template>
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'70px'}"></p-column>
    <p-column field="matricule" header="matricule"></p-column>
    <p-column field="idmark.name" header="marque"></p-column>
    <p-column field="name" header="nom"></p-column>
    <p-column field="source" header="source"></p-column>
    <p-column field="destination" header="destination"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'70px'}">
        <ng-template let-m="rowData" pTemplate="body">
            <button class="btn btn-danger" (click)="deleteAccidentvehicule(m)">
                <i class="fa fa-minus"></i>
            </button>
        </ng-template>
    </p-column>
    <ng-template let-item pTemplate="rowexpansion">
        <div class="container">
            <div class="flex-item clcolumn">
                <div class="ca flex-item">
                    <p-card title="Info Vehicule" [style]="{width: '360px'}">
                        <div class="form-group row">
                            <label for="chclassification" class="col-sm-4 col-form-label">classification</label>
                            <div class="col-sm-11 clkind">
                                <p-radioButton name="groupcl" class="flex-item" id="chclassification" value="S" label="SH"
                                    [(ngModel)]="item.classification" inputId="cl1"></p-radioButton>
                                <p-radioButton name="groupcl" class="flex-item" value="N" label="Non SH" [(ngModel)]="item.classification"
                                    inputId="cl2"></p-radioButton>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="chnom" class="col-sm-4 col-form-label">le nom : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="chnom" [(ngModel)]="item.name" placeholder="le nom du vehicule">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="chmatricule" class="col-sm-4 col-form-label">matricule : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="chmatricule" [(ngModel)]="item.matricule"
                                    placeholder="matricule">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="chmarque" class="col-sm-4 col-form-label">marque</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="chmarque" [(ngModel)]="item.idmark['name']"
                                    placeholder="le nom de la marque" #name>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="chkind" class="col-sm-1 col-form-label">type</label>
                            <div class="col-sm-11 clkind">
                                <p-radioButton name="groupkind" class="flex-item" id="chkind" value="TK" label="Camion"
                                    [(ngModel)]="item.classification" inputId="k3"></p-radioButton>

                                <p-radioButton name="groupkind" class="flex-item" value="TR" label="Tracteur"
                                    [(ngModel)]="item.classification" inputId="k7"></p-radioButton>

                                <p-radioButton name="groupkind" class="flex-item" value="BU" label="Bus" [(ngModel)]="item.classification"
                                    inputId="k6"></p-radioButton>

                                <p-radioButton name="groupkind" class="flex-item" value="MN" label="Mini bus"
                                    [(ngModel)]="item.classification" inputId="k4"></p-radioButton>

                                <p-radioButton name="groupkind" class="flex-item" value="MC" label="Micro bus"
                                    [(ngModel)]="item.classification" inputId="k5"></p-radioButton>

                                <p-radioButton name="groupkind" class="flex-item" value="UT" label="Utilitaire"
                                    [(ngModel)]="item.classification" inputId="k1"></p-radioButton>

                                <p-radioButton name="groupkind" class="flex-item" value="TO" label="Touristique"
                                    [(ngModel)]="item.classification" inputId="k2"></p-radioButton>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="chsource" class="col-sm-4 col-form-label">venant de : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="chsource" [(ngModel)]="item.source"
                                    placeholder="venant de">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="chdestination" class="col-sm-4 col-form-label">allant à : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="chdestination" [(ngModel)]="item.destination"
                                    placeholder="allant à">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-success" (click)="updateAccidentvehicule(item)">
                                <i class="fa fa-check">Valider</i>
                            </button>
                            <button class="btn btn-warning" (click)="cancelUpdate(item)">
                                <i class="fa fa-times">Annuler</i>
                            </button>
                        </div>

                    </p-card>
                </div>
                <div class="ca flex-item">
                    <app-accidentvehiculedriver [idaccidentvehicule]="item.id"></app-accidentvehiculedriver>
                </div>
            </div>
            <div class="flex-item clcolumn">
                <div class="ca flex-item">
                    <app-accidentvehiculeinsurance [idaccidentvehicule]="item.id"></app-accidentvehiculeinsurance>
                </div>
                <div class="ca flex-item">
                    <app-accidentvehiculeowner [idaccidentvehicule]="item.id"></app-accidentvehiculeowner>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataTable>

<p-dialog header="Marque Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true"
    width="450">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="newAccidentvehicule">
        <div class="bdcontent">
            <div class="ui-g" style="width:250px;margin-bottom:10px">
                <h4>Type</h4>
                <span class="ui-g-12">
                    <p-radioButton name="group2" value="TO" label="Utilité" [(ngModel)]="newAccidentvehicule.kind"
                        inputId="kind1"></p-radioButton>
                    <p-radioButton name="group2" value="UT" label="Utilité" [(ngModel)]="newAccidentvehicule.kind"
                        inputId="kind2"></p-radioButton>
                    <p-radioButton name="group2" value="TK" label="Camion" [(ngModel)]="newAccidentvehicule.kind"
                        inputId="kind3"></p-radioButton>
                    <p-radioButton name="group2" value="MN" label="Mini bus" [(ngModel)]="newAccidentvehicule.kind"
                        inputId="kind4"></p-radioButton>
                    <p-radioButton name="group2" value="MC" label="Micro bus" [(ngModel)]="newAccidentvehicule.kind"
                        inputId="kind5"></p-radioButton>
                    <p-radioButton name="group2" value="BU" label="Bus" [(ngModel)]="newAccidentvehicule.kind" inputId="kind6"></p-radioButton>
                    <p-radioButton name="group2" value="TR" label="Tracteur" [(ngModel)]="newAccidentvehicule.kind"
                        inputId="kind7"></p-radioButton>
                </span>
            </div>
            <div class="ui-g" style="width:250px;margin-bottom:10px">
                <h3>Appartenance</h3>
                <span class="ui-g-12">
                    <p-radioButton name="group1" value="S" label="SH" [(ngModel)]="newAccidentvehicule.classification"
                        inputId="opt1"></p-radioButton>
                    <p-radioButton name="group1" value="N" label="Non SH" [(ngModel)]="newAccidentvehicule.classification"
                        inputId="opt2"></p-radioButton>
                </span>
            </div>
            <span>
                <label for="ichnom">nom : </label>
                <input type="text" class="form-control" id="ichnom" [(ngModel)]="newAccidentvehicule.name" placeholder="nom">
            </span>
            <span>
                <label for="ichmatricule">matricule : </label>
                <input type="text" class="form-control" id="ichmatricule" [(ngModel)]="newAccidentvehicule.matricule"
                    placeholder="matricule">
            </span>

            <span>
                <ng-template #ma let-m="result" let-a="term">
                    {{ getName(m) }}
                </ng-template>
                <label for="ichmark">marque : </label>
                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="newAccidentvehicule.idmark"
                    [ngbTypeahead]="searchMark" (click)="click$.next($event.target.value)" #instance="ngbTypeahead"
                    [resultTemplate]="ma" [inputFormatter]="formatter" />
            </span>
            <span>
                <label for="ichsource">source : </label>
                <input type="text" class="form-control" id="ichsource" [(ngModel)]="newAccidentvehicule.source"
                    placeholder="source">
            </span>
            <span>
                <label for="ichmatricule">destination : </label>
                <input type="text" class="form-control" id="ichdestination" [(ngModel)]="newAccidentvehicule.destination"
                    placeholder="destination">
            </span>
            <div class="toolbtn">
                <button class="btn btn-primary" (click)="createAccidentvehicule()">Valider</button>
                <button class="btn btn-warning" (click)="hideNewDialoge()">Annuler</button>
            </div>
        </div>
    </div>