/* .colgroup {
    color: brown;
    padding: 10px 0 0 10px;
} */

.ca {
    /* background-color: blue !important; */
 /*    width: 400px !important; */
    /* float: right; */
}

.clleft {
   /*  float: left; */
}

.clright {
   /*  float: right; */
}
/*
.container {
    display: flex;
    flex-direction: column;
    height: 1150px !important;

    justify-content: space-evenly;
} */

    /* background-color: brown; */
   /*  flex-wrap: wrap; */

/* .clcolumn {
    display: flex;
    flex-direction: row;

} */

 /* margin-bottom: 20px!important;
    background-color: red; */

/* .clkind {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 360px;
    background-color: #e9ecef;
    opacity: 1;
    margin-left: 10px;
    padding: 10px 0 10px 10px;
}

.clkind > .flex-item {
    padding-right: 7px;
}

 */

 .container {
     display: flex;
     padding-top: 10px;
     border-radius: 0px;
     flex-direction: column;
     /*background-color: red;*/
 }

 .ca {
     width: 100%;
     flex: 2;
     flex-grow: 1;
     padding-right: 0.5rem;
     /* background-color: green; */

 }

 .clcara {
    /*  height: 340px; */
 }

 .toolbtn {
    float: right;
    /* padding-bottom: 15px; */
}

.clcolumn {
  display: flex;
  /* width: 500px!important;*/
  /*background-color: blue;*/
  flex-grow: 1;
  padding-top: 0.5rem;
  align-items: stretch!important;
}
