<div class="accidentd bg-light">
  <div class="accidentd-header alCenter accidentdtitle">

    <h4 class="titleform">
      <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
    </h4>

    <button class="btn btn-success btnright" (click)="showNewDialoge()">
      <i class="fa fa-plus"></i>
    </button>
    <p>
       <!--  <p-tieredMenu target="btn" #menu [model]="getItemMenu(items)" [popup]="false"></p-tieredMenu> -->
      <!--   <button #btn type="button" pButton icon="pi pi-bars" label="print" (click)="menu.toggle($event)"></button> -->
    </p>  

  </div>
  <p-table #dt [columns]="cols" [value]="accidents" dataKey="id" rowExpandMode="single" selectionMode="single" [(selection)]="selectedAccident"
    [paginator]="true" [rows]="10" [globalFilterFields]="['id','classification', 'place', 'idsite.name']"  [(contextMenuSelection)]="selectedAccident"
     [contextMenu]="cm">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
        <th style="width:4em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
        <td>
          <a href="#" [pRowToggler]="rowData ">
            <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'" style="font-size: 1.25em"></i>
          </a>
        </td>
        <td>{{rowData.id}}</td>
        <td>{{rowData.classification}}</td>
        <td>{{rowData.curdate | date:'shortDate'}}</td>
        <td>{{rowData.time | date:'HH:mm'}}</td>
        <td>{{rowData.idsite.name}}</td>        
        <td>{{rowData.place}}</td>
        <td>{{rowData.description}}</td>
        <td>
         <!--    <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu> -->
            <!-- 
            <p-toolbar>
            <button #btn type="button" pButton label="Menu" icon="fa fa-bars" 

            class="ui-button-secondary" (click)="menu.toggle($event)"></button>
   
           <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>  
            </p-toolbar> -->
            <!-- <p>
                <p-tieredMenu target="btn" #menu [model]="getItemMenu(rowData.id)" [popup]="true"></p-tieredMenu>
                <button #btn type="button" pButton icon="pi pi-bars" label="print" (click)="menu.toggle($event)"></button> 
            </p>   -->
        
      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-accident>
      <tr>
        <td [attr.colspan]="9">
          <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
            <div class="accidentd text-white bg-info mb-3">
              <!-- <div class="accidentd-header">Info Accident</div> -->
              <div class="accidentd-body">
                <p-tabView>
                  <p-tabPanel [selected]="true" [header]="'Détail'">
                    <app-faccident [item]="accident" [mode]="mUpdate" [agents]="agents" [sites]="sites" (operation)="performAction($event, dt)"></app-faccident>
                  </p-tabPanel>
                  <p-tabPanel [header]="'Dégât'" headerStyleClass="greenText">
                    <ng-template pTemplate="content">
                      <app-accidentdetail [accident]="accident"></app-accidentdetail>
                    </ng-template>
                  </p-tabPanel>
                  <p-tabPanel [header]="'Cause'">
                    <ng-template pTemplate="content">
                      <app-cause [idaccident]="accident" [titlelist]="'Causes'"></app-cause>
                    </ng-template>
                  </p-tabPanel>
                  <p-tabPanel [header]="'Facteur agravant'">
                      <ng-template pTemplate="content">
                        <app-aggravatingfactor [idaccident]="accident" [titlelist]="'Facteur agravant'"></app-aggravatingfactor>
                      </ng-template>
                    </p-tabPanel>
                  <p-tabPanel [header]="'Action / Recommandation'">
                    <ng-template pTemplate="content">
                      <app-vwactionaccident [idaccident]="accident" [titlelist]="'Action / Recommandation'"></app-vwactionaccident>
                    </ng-template>
                  </p-tabPanel>
                  <p-tabPanel [header]="'Investigation'">
                    <ng-template pTemplate="content">
                    </ng-template>

                  </p-tabPanel>
                  <p-tabPanel [header]="'Fichier attaché'">
                    <ng-template pTemplate="content">
                      <!-- <app-accidentfile [idaccident]="accident" [titlelist]="'Fichier attaché'"></app-accidentfile> -->
                      <app-accidentpicture [accident]="accident" [titlelist]="'Fichier attaché'"></app-accidentpicture>
                    </ng-template>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>  
  <p-contextMenu #cm [model]="items"  appendTo="body" [style]="{'width':'300px'}"></p-contextMenu>
</div>

<p-dialog header="Accident Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" (onHide)="onHide($event)"
  width="890">
  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px"  *ngIf="newAccident">
    <app-faccident [item]="newAccident" [mode]="mInsert" [agents]="agents" [sites]="sites" (operation)="performAction($event, dt)"></app-faccident>
  </div>