.bgcelselected {
    /*    background-color: brown!important;
       color: white!important; */
   }
   
   .trheader {
       background-color: red!important;
   }
   
   .ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tbody > tr > td, .ui-table .ui-table-tfoot > tr > td {
       background-color: #34495e!important;
       /*  #bdc3c7!important; */
   }

   .colred {
       /* background-color: #2980b9!important;
       color: white!important; */
   }

   .selheader {
    /* background-color: #95a5a6!important; */
    background-color: #2980b9!important;
    /*  blueviolet!important; */
    color: white!important;
   }

   .rexpand {
       background-color: #ebedf0!important;
       color: white;
   }  

   .clcolgroup {
      background-color: #34495e!important;
      color: white!important;
   }

   .clwhite {
        background-color: white!important;
   }

