.input-group-text {
    background-color: lightgrey!important;
    float: left;
    height: 38px!important;
    padding: 7px;
}

.labelbit {
    width: 250px!important;
}

.alw {
    display: block;
    float: left;
    width: 280px !important;
    background-color: green !important;
    color: white !important;
}

.spc {
    background-color: brown !important;
    margin-right: 30px !important;
    width: 350px !important;
    max-width: 350px !important;
    display: inline-block;
    float: left;
    word-wrap: break-word;
}