<div class="card text-white bg-secondary">
  <div class="card-header">
    Bit d'agent
  </div>
  <div class="card-body">
    <div class="ui-g ui-fluid">
      <span class="ui-fluid">
        <p-autoComplete [(ngModel)]="rBits" [suggestions]="filteredBitsMultiple" (completeMethod)="filterBitMultiple($event)"
          (onSelect)="onSelect($event)" (onUnselect)="onUnselect($event)" styleClass="wid100" [minLength]="1"
          placeholder="Bit" field="id" [multiple]="true" [dropdown]="true">
          <ng-template let-value pTemplate="selectedItem">
            <p style="font-size:18px">{{value.id}}</p>
          </ng-template>
        </p-autoComplete>
      </span>
    </div>
    <div>
      <div *ngFor="let value of vw$accidentagentshbits" class="alert" [class.alert-primary]="value.idbitclass == 'A'"
        [class.alert-success]="value.idbitclass == 'B'" [class.alert-danger]="value.idbitclass == 'C'"
        [class.alert-warning]="value.idbitclass == 'D'">
        {{getFullName(value)}}
      </div>
    </div>
  </div>