.input-group-text {
    background-color: lightgrey!important;
    float: left;
    height: 38px!important;
    padding: 7px;
}

.labelbit {
    width: 250px!important;
}

.alw {
    width: 680px;
    /* background-color: blue; */
}