<p-organizationChart [value]="data" styleClass="company">
  <ng-template let-node pTemplate="leaf"  class="nl">
    <div class="card">
      <h4 class="card-header">{{node.label}}</h4>
      <div class="card-body">
        <h4 class="card-title">Site : {{node.label}}</h4>
        <a href="#" class="btn btn-primary">add Site leaf</a>
        <a href="#" class="btn btn-danger">delete Site leaf </a>
      </div>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="default" class="nd">
    <div class="card">
      <h4 class="card-header">{{node.label}}</h4>
      <div class="card-body">
        <h4 class="card-title">Site : {{node.label}}</h4>
        <a href="#" class="btn btn-primary">add Site</a>
        <a href="#" class="btn btn-danger">delete Site</a>
      </div>
    </div>
  </ng-template>
</p-organizationChart>

 