<!-- <div class="card-header alCenter cardtitle"> -->
<div class="alert alert-primary" role="alert">

  <!-- <h4 class="titleform">
    <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
  </h4> -->
   <h4>{{titlelist}}</h4>
   <hr>
  <button class="btn btn-success" (click)="showNewDialoge()">
    <i class="fa fa-plus"></i>
  </button>



<p-dataTable [value]="accidentvehiculenonshs" expandableRows="true" selectionMode="single" immuable="true" [(selection)]="selectedNode"
  (onNodeExpand)="nodeExpand($event)" rowExpandMode="single" [responsive]="true">
  <p-column expander="true" styleClass="col-icon"  [style]="{'width':'70px'}"></p-column>
  <p-column field="matricule" header="matricule"></p-column>
  <p-column field="idmark.name" header="marque"></p-column>
  <p-column field="name" header="nom"></p-column>
  <p-column field="identreprise.name" header="propriétaire"></p-column>
  <p-column styleClass="col-button"  [style]="{'width':'70px'}">
    <ng-template let-m="rowData" pTemplate="body">
      <button class="btn btn-danger" (click)="deleteAccidentvehiculenonsh(m)">
        <i class="fa fa-minus"></i>
      </button>
    </ng-template>
  </p-column>
  <ng-template let-item pTemplate="rowexpansion">
    <div class="container">
      <div class="form-group row">
        <label for="chmatricule" class="col-sm-2 col-form-label">matricule : </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chmatricule" [value]="item.matricule" placeholder="matricule" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="chmarque" class="col-sm-2 col-form-label">countstopwork</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chmarque" [value]="item.idmark.name" placeholder="le nom de la marque" #name>
        </div>
      </div>
      <div class="form-group row">
        <label for="chowner" class="col-sm-2 col-form-label">observation</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chowner" [value]="item.identreprise.name" placeholder="le nom de l'entreprise"
            #name>
        </div>
      </div>
      <div class="clupdate">
        <button class="btn btn-success" (click)="updateAccidentvehiculenonsh(item, name)">
          <i class="fa fa-check">Valider</i>
        </button>
        <button class="btn btn-warning" (click)="cancelUpdate(item)">
          <i class="fa fa-times">Annuler</i>
        </button>
      </div>
    </div>

  </ng-template>
</p-dataTable>
</div>
<!-- </div> -->
<!-- </div> -->

<p-dialog header="Marque Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" width="450">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="newAccidentvehiculenonsh">
    <div class="bdcontent">
      <span>
        <label for="imatricule">idagent : </label>
        <input type="text" class="form-control" id="chmatricule" [(ngModel)]="newAccidentvehiculenonsh.matricule" placeholder="matricule">
      </span>
      <!-- <span>
        <label for="imark">marque</label>
        <input type="text" id="imark" [(ngModel)]="newAccidentvehiculenonsh.idmark.id" placeholder="la marque">
      </span>
      <span>
        <label for="iowner">observation</label>
        <input type="text" id="iowner" [(ngModel)]="newAccidentvehiculenonsh.identreprise.id" placeholder="le propriètaire">
      </span> -->
      <div class="toolbtn">
        <button class="btn btn-primary" (click)="createAccidentvehiculenonsh()">Submit</button>
        <button class="btn btn-warning" (click)="hideNewDialoge()">cancel</button>
      </div>
    </div>
  </div>