.climgheader, .clplleft, .clplright {
    background-color: rgba(0,0,0,.03)!important;
}

.clplright > .card {
  width: 25em;
}

.climgheader img{
    margin-left: 250px!important;
}

.clplcenter {
    border-left-color: lightgray!important;
    border-left-style: solid!important;
    border-left-width: 5px!important;
}

.my-3 {
    width: 200px;
}

.dropdown-toggle {
    cursor: pointer;
}

.ct {
  color: #007bff;
}

.cb {
  background-color: #f8f9fa !important;
}

.labpass {
  margin-left: 14px;
  color: blueviolet;
}
