<p-dialog header="Site Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" width="500" (onHide)="onHide()">
  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" *ngIf="newSite">
    <div class="container">
      <div class="form-group row">
        <label for="iid" class="col-sm-3 col-form-label">id : </label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="iid" [(ngModel)]="newSite.id" placeholder="Identificateur"
            readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="iname" class="col-sm-3 col-form-label">name : </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="iname" [(ngModel)]="newSite.name" placeholder="le nom du site">
        </div>
      </div>
      <div class="form-group row">
        <label for="chidsite" class="col-sm-3 col-form-label">site : {{newSite.name}}</label>
        <div class="col-sm-9">
          <app-autocomplete [i_item]="newSite.idparent" [service]="sites" [functionName]="displayName" [args]="['name']"
            (changeItem)="onChangeItem(newSite, 'idparent', $event)"></app-autocomplete>
        </div>
      </div>
      <div class="form-group row">
        <label for="chidlabel" class="col-sm-3 col-form-label">represente : </label>
        <div class="col-sm-9">
          <app-autocomplete [i_item]="newSite.idlabel" [service]="labels" [functionName]="displayName" [args]="['name']"
            (changeItem)="onChangeItemLabel(newSite, 'idlabel', $event)"></app-autocomplete>
        </div>
      </div>
      <div class="clupdate">
        <button class="btn btn-warning" (click)="hideNewDialoge()">
          <i class="fa fa-times">Annuler</i>
        </button>
        <button class="btn btn-success" (click)="create($event)">
          <i class="fa fa-check">Valider</i>
        </button>
      </div>
    </div>
  </div>
</p-dialog>