<div class="card bg-light">
    <div class="card-header alCenter cardtitle">
  
      <h4 class="titleform">
        <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
      </h4>
    <button class="btn btn-success btnright" (click)="showDialogToAdd()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <!-- <p-table #dt [columns]="cols" [value]="sites" dataKey="id" rowExpandMode="single" selectionMode="single"
    [(selection)]="selectedSite" [paginator]="true" [rows]="10" [globalFilterFields]="['id','name', 'idlabel.name']">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expanded="expanded" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td>
          <a href="#" [pRowToggler]="rowData ">
            <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'" style="font-size: 1.25em"></i>
          </a>
        </td>
        <td>{{rowData.id}}</td>
        <td>{{rowData.name}}</td>
        <td>{{rowData.idlabel.name}}</td>
        <td>{{rowData.idparent}}</td>
        <td>{{rowData.datecreate | date:'shortDate'}}</td>
        <td>{{rowData.dateupdate | date:'shortDate'}}</td>
        <td>{{rowData.owner}}</td>
        <td>{{rowData.lastuser}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-site>
      <tr>
        <td [attr.colspan]="9">
          <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
            <div class="container">
              <div class="form-group row">
                <label for="chid" class="col-sm-2 col-form-label">id : </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="chid" [value]="site.id" placeholder="Identificateur"
                    readonly>
                </div>
              </div>
              <div class="form-group row">
                <label for="chname" class="col-sm-2 col-form-label">name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="chname" [value]="site.name" placeholder="le nom du site"
                    #name>
                </div>
              </div>
              <div class="form-group row">
                <label for="chidlabel" class="col-sm-3 col-form-label">represente : </label>
                <div class="col-sm-9">
                  <app-autocomplete [i_item]="site.idlabel" [service]="labels" [functionName]="displayName" [args]="['name']"
                    (changeItem)="setIdLabelToSite(site, 'idlabel', $event)"></app-autocomplete>
                </div>
              </div>
              <div class="form-group row">
                <label for="chidsite" class="col-sm-3 col-form-label">Emplacement : </label>
                <div class="col-sm-9">
                  <app-autocomplete [i_item]="site.idparent" [service]="sites" [functionName]="displayName" [args]="['name']"
                    (changeItem)="setIdSiteParentToSite(site, 'idparent', $event)"></app-autocomplete>
                </div>
              </div>
              <div class="clupdate">
                <button class="btn btn-success" (click)="updateSite(site, name)">
                  <i class="fa fa-check">Valider</i>
                </button>
                <button class="btn btn-warning" (click)="cancelUpdate(site)">
                  <i class="fa fa-times">Annuler</i>
                </button>
              </div>
              <br>
              <app-orgsite [sites]="sites" [siteParent]="site"></app-orgsite>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->
<div style="margin-bottom: 1rem">
    <button pButton type="button" label="Expand all" (click)="expandAll()" style="margin-right: .5rem"></button>
    <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
</div>

<p-tree [value]="data"  class="ptreecls"  [filter]="true" filterMode="strict" filterBy="label">
  <!--  selectionMode="single" 
[(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" -->
<ng-template let-node pTemplate="branch">
  <!-- {{ node.data.idlabel.name }} - {{ node.label }} -->
  <span class="clbt">
    <mat-form-field appearance="standard">
      <mat-label>{{ node.data.idlabel.name }}</mat-label>
      <input matInput [placeholder]="node.data.idlabel.name" [(ngModel)]="node.data.name">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint></mat-hint>
    </mat-form-field>
  <!-- <button pButton type="button" icon="pi pi-check" class="ui-button-success btcl"></button>
  <button pButton type="button" label="+"  class="ui-button-info  btcl"></button> -->
  <button mat-icon-button aria-label="Example icon button with a menu icon" [disabled]="node.data.name === node.label" (click)="updateSite(node)">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon" (click)="addChildSite(node)">
    <mat-icon>add_circle</mat-icon>
  </button>
</span>
</ng-template>
<ng-template let-node pTemplate="sheet">
 <!--  {{ node.data.idlabel.name }} - {{ node.label }} -->
  <span  class="clbt">
  <!-- <button pButton type="button" icon="pi pi-check" class="ui-button-success btcl"></button>
  <button pButton type="button" label="-" class="ui-button-danger  btcl"></button>
  <button pButton type="button" label="+"  class="ui-button-info  btcl"></button> -->
  <mat-form-field appearance="standard">
    <mat-label>{{ node.data.idlabel.name }}</mat-label>
    <input matInput [placeholder]="node.data.idlabel.name" [(ngModel)]="node.data.name">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-hint></mat-hint>
  </mat-form-field>
  <button mat-icon-button aria-label="Example icon button with a home icon" [disabled]="node.data.name === node.label" (click)="updateSite(node)">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="addChildSite(node)">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="deleteSite(node)">
    <mat-icon>remove_circle</mat-icon>
  </button>
  </span>
</ng-template>
 <!--  <ng-template let-node pTemplate="branch">
    <span  style="width:70%" class="spantree"> 
      <input [(ngModel)]="node.label" type="text">
     
    </span> 
    <span  style="width:30%" class="spantree"> 
      <button pButton type="button" icon="pi pi-check" class="ui-button-success"></button>
      <button pButton type="button" label="+"  class="ui-button-info"></button>
    </span> 
  </ng-template>
  <ng-template let-node pTemplate="sheet">
    <span  style="width:70%" class="spantree"> 
      <input [(ngModel)]="node.label" type="text">
    </span> 
    <span  style="width:30%" class="spantree"> 
      <button pButton type="button" icon="pi pi-check" class="ui-button-success"></button>
      <button pButton type="button" label="-" class="ui-button-danger"></button>
      <button pButton type="button" label="+"  class="ui-button-info"></button>
    </span> 
  </ng-template> -->
</p-tree>

<app-newsite [dialogVisible]="dialogVisible" [siteParent]="siteParent" (closeDialog)="createSite($event)"></app-newsite> 

</div>